.avatar__edit-button {
    background-color: transparent;
    position: absolute;
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 50%;
    width: 100%;
    height: 100%;

}
  
  @media screen and (max-width: 480px) {
    .avatar__edit-button {
      margin-left: -60px;
    }
  }
